<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BentoBoxCustomizationState</key>
	<data>
	eyJMYXN0Q2hhbmdlRGF0ZSI6ODAzMzM0NDA4Ljc1MjE0MywiQWRkZWRDb250cm9sIjp0
	cnVlLCJNb3ZlZENvbnRyb2xUb01lbnVCYXIiOmZhbHNlLCJSZW1vdmVkQ29udHJvbCI6
	dHJ1ZSwiUmVzaXplZENvbnRyb2wiOmZhbHNlLCJDdXN0b21pemVkQ29udHJvbCI6ZmFs
	c2V9
	</data>
	<key>ControlCenterDisplayableChronoControlsProviderConfiguration</key>
	<data>
	eyJDb250cm9scyI6W3siSWRlbnRpZmllciI6WyIxOEUyRUFEMi1ENEE3LTQ5MzEtODk2
	QS0zNjUyMzVBMkJERjkiXSwiT3ZlcnJpZGVTaXplRm9yTWVudUJhciI6ZmFsc2UsIkNv
	bnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpIWmxjbk5wYjI1
	WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFEMDVUUzJWNVpX
	UkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUxYkd6VURRNFBF
	QkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhOemdBQ0FCb0FD
	Z0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4QVpZMjl1ZEdG
	cGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZia0oxYm1Sc1pV
	bGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFJR052YlM1aGNIQnNaUzVYYVc1a2IzZE5Z
	VzVoWjJWeUxtTnZiblJ5YjJ4elh4QVhZMjl0TG1Gd2NHeGxMbGRwYm1SdmQwMWhibUZu
	WlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJHRnpjMlZ6WHhBVVEwaFRSWGgwWlc1
	emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZlSFJsYm5OcGIyNUpaR1Z1ZEdsMGVW
	aE9VMDlpYW1WamRGOFFKR052YlM1aGNIQnNaUzUzYVc1a2IzZHRZVzVoWjJWeUxuTjBZ
	V2RsYldGdVlXZGxjdElnSVNncFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1MGFYUjVvaW9s
	WHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNUFBZ0FFUUFhQUNRQUtRQXlBRGNBU1FC
	TUFGRUFVd0JjQUdJQWF3QjFBSG9BZ0FDSEFJa0Fpd0NOQUk4QW1BQ3JBTWNBNHdEbEFP
	Y0E2UURyQVE0QktBRXRBVGdCUVFGWUFWc0JjZ0Y3QWFJQnB3RzhBYjhBQUFBQUFBQUNB
	UUFBQUFBQUFBQXJBQUFBQUFBQUFBQUFBQUFBQUFBQjFBPT0iLCJDb250cm9sU2l6ZSI6
	MCwiUHJvbXB0c0ZvclVzZXJDb25maWd1cmF0aW9uIjpmYWxzZSwiQ29udHJvbERlc2Ny
	aXB0aW9uIjoiRW5hYmxlIFN0YWdlIE1hbmFnZXIiLCJDb250cm9sVHlwZSI6MSwiRGlz
	cGxheU5hbWUiOiJTdGFnZSBNYW5hZ2VyIn0seyJJZGVudGlmaWVyIjpbIjFFQ0U3NzU0
	LTE2NzktNERFOC1CNTRGLUU3RUE1NjVDNDg4RSJdLCJPdmVycmlkZVNpemVGb3JNZW51
	QmFyIjpmYWxzZSwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBNRERVQVFJREJBVUdC
	d3BZSkhabGNuTnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlpYW1WamRITVNBQUdH
	b0Y4UUQwNVRTMlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FHb0N3d1ZIUjRmSmlk
	VkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJtUlZaWGgwU1dSV0pH
	TnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZMlZKWkdWdWRHbG1h
	V1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxsY2w4UUdXVjRkR1Z1
	YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4UUlHTnZiUzVoY0hC
	c1pTNVhhVzVrYjNkTllXNWhaMlZ5TG1OdmJuUnliMnh6WHhBWFkyOXRMbUZ3Y0d4bExs
	ZHBibVJ2ZDAxaGJtRm5aWExTSUNFaUkxb2tZMnhoYzNOdVlXMWxXQ1JqYkdGemMyVnpY
	eEFVUTBoVFJYaDBaVzV6YVc5dVNXUmxiblJwZEhtaUpDVmZFQlJEU0ZORmVIUmxibk5w
	YjI1SlpHVnVkR2wwZVZoT1UwOWlhbVZqZEY4UUpHTnZiUzVoY0hCc1pTNTNhVzVrYjNk
	dFlXNWhaMlZ5TG5OMFlXZGxiV0Z1WVdkbGN0SWdJU2dwWHhBU1EwaFRRMjl1ZEhKdmJF
	bGtaVzUwYVhSNW9pb2xYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1QUFnQUVRQWFB
	Q1FBS1FBeUFEY0FTUUJNQUZFQVV3QmNBR0lBYXdCMUFIb0FnQUNIQUlrQWl3Q05BSThB
	bUFDckFNY0E0d0RsQU9jQTZRRHJBUTRCS0FFdEFUZ0JRUUZZQVZzQmNnRjdBYUlCcHdH
	OEFiOEFBQUFBQUFBQ0FRQUFBQUFBQUFBckFBQUFBQUFBQUFBQUFBQUFBQUFCMUE9PSIs
	IkNvbnRyb2xTaXplIjowLCJQcm9tcHRzRm9yVXNlckNvbmZpZ3VyYXRpb24iOmZhbHNl
	LCJDb250cm9sRGVzY3JpcHRpb24iOiJFbmFibGUgU3RhZ2UgTWFuYWdlciIsIkNvbnRy
	b2xUeXBlIjoxLCJEaXNwbGF5TmFtZSI6IlN0YWdlIE1hbmFnZXIifSx7IklkZW50aWZp
	ZXIiOlsiQUZBNzI5QjEtMjUwNi00NTJCLUI2OTUtQUQ5NjkyQkNFMTdEIl0sIk92ZXJy
	aWRlU2l6ZUZvck1lbnVCYXIiOmZhbHNlLCJDb250cm9sSWRlbnRpdHkiOiJZbkJzYVhO
	ME1ERFVBUUlEQkFVR0J3cFlKSFpsY25OcGIyNVpKR0Z5WTJocGRtVnlWQ1IwYjNCWUpH
	OWlhbVZqZEhNU0FBR0dvRjhRRDA1VFMyVjVaV1JCY21Ob2FYWmxjdEVJQ1ZSeWIyOTBn
	QUdvQ3d3VkhSNGZKaWRWSkc1MWJHelVEUTRQRUJFU0V4UlphVzUwWlc1MFVtVm1WR3Rw
	Ym1SVlpYaDBTV1JXSkdOc1lYTnpnQUNBQm9BQ2dBZlVGaGNZRUJFYUd4eGZFQkJrWlha
	cFkyVkpaR1Z1ZEdsbWFXVnlYeEFaWTI5dWRHRnBibVZ5UW5WdVpHeGxTV1JsYm5ScFpt
	bGxjbDhRR1dWNGRHVnVjMmx2YmtKMWJtUnNaVWxrWlc1MGFXWnBaWEtBQUlBRWdBT0FC
	VjhRSUdOdmJTNWhjSEJzWlM1WGFXNWtiM2ROWVc1aFoyVnlMbU52Ym5SeWIyeHpYeEFY
	WTI5dExtRndjR3hsTGxkcGJtUnZkMDFoYm1GblpYTFNJQ0VpSTFva1kyeGhjM051WVcx
	bFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpXNXphVzl1U1dSbGJuUnBkSG1pSkNWZkVC
	UkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBlVmhPVTA5aWFtVmpkRjhRSjJOdmJTNWhj
	SEJzWlM1M2FXNWtiM2R0WVc1aFoyVnlMblJwYkdWVWQyOVZjRUoxZEhSdmJ0SWdJU2dw
	WHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNW9pb2xYeEFTUTBoVFEyOXVkSEp2YkVs
	a1pXNTBhWFI1QUFnQUVRQWFBQ1FBS1FBeUFEY0FTUUJNQUZFQVV3QmNBR0lBYXdCMUFI
	b0FnQUNIQUlrQWl3Q05BSThBbUFDckFNY0E0d0RsQU9jQTZRRHJBUTRCS0FFdEFUZ0JR
	UUZZQVZzQmNnRjdBYVVCcWdHXC9BY0lBQUFBQUFBQUNBUUFBQUFBQUFBQXJBQUFBQUFB
	QUFBQUFBQUFBQUFBQjF3PT0iLCJDb250cm9sU2l6ZSI6MCwiUHJvbXB0c0ZvclVzZXJD
	b25maWd1cmF0aW9uIjpmYWxzZSwiQ29udHJvbERlc2NyaXB0aW9uIjoiVGlsZXMgd2lu
	ZG93cyB0byB0aGUgbGVmdCBhbmQgcmlnaHQuIiwiQ29udHJvbFR5cGUiOjIsIkRpc3Bs
	YXlOYW1lIjoiVGlsZSBXaW5kb3dzIExlZnQgJiBSaWdodCJ9LHsiSWRlbnRpZmllciI6
	WyJGNjZDRjEwRC1CNjZCLTQ0NDAtOThEOS02RUFCMjg4MDdBNTMiXSwiT3ZlcnJpZGVT
	aXplRm9yTWVudUJhciI6ZmFsc2UsIkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTURE
	VUFRSURCQVVHQndwWUpIWmxjbk5wYjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFt
	VmpkSE1TQUFHR29GOFFEMDVUUzJWNVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29D
	d3dWSFI0ZkppZFZKRzUxYkd6VURRNFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJW
	WlhoMFNXUldKR05zWVhOemdBQ0FCb0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJW
	SlpHVnVkR2xtYVdWeVh4QVpZMjl1ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNs
	OFFHV1Y0ZEdWdWMybHZia0oxYm1Sc1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFI
	V052YlM1aGNIQnNaUzVqYjI1MGNtOXNjeTV6WTNKbFpXNXphRzkwWHhBZFkyOXRMbUZ3
	Y0d4bExuTmpjbVZsYm5Ob2IzUXViR0YxYm1Ob1pYTFNJQ0VpSTFva1kyeGhjM051WVcx
	bFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpXNXphVzl1U1dSbGJuUnBkSG1pSkNWZkVC
	UkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBlVmhPVTA5aWFtVmpkRjhRTEdOdmJTNWhj
	SEJzWlM1amIyNTBjbTlzY3k1elkzSmxaVzV6YUc5MExtTmhjSFIxY21VdGMyTnlaV1Z1
	MGlBaEtDbGZFQkpEU0ZORGIyNTBjbTlzU1dSbGJuUnBkSG1pS2lWZkVCSkRTRk5EYjI1
	MGNtOXNTV1JsYm5ScGRIa0FDQUFSQUJvQUpBQXBBRElBTndCSkFFd0FVUUJUQUZ3QVln
	QnJBSFVBZWdDQUFJY0FpUUNMQUkwQWp3Q1lBS3NBeHdEakFPVUE1d0RwQU9zQkN3RXJB
	VEFCT3dGRUFWc0JYZ0YxQVg0QnJRR3lBY2NCeWdBQUFBQUFBQUlCQUFBQUFBQUFBQ3NB
	QUFBQUFBQUFBQUFBQUFBQUFBSGYiLCJDb250cm9sU2l6ZSI6MCwiUHJvbXB0c0ZvclVz
	ZXJDb25maWd1cmF0aW9uIjpmYWxzZSwiQ29udHJvbERlc2NyaXB0aW9uIjoiQnV0dG9u
	IHRvIHRha2UgYSBzY3JlZW5zaG90IiwiQ29udHJvbFR5cGUiOjIsIkRpc3BsYXlOYW1l
	IjoiQ2FwdHVyZSBTY3JlZW4ifSx7IklkZW50aWZpZXIiOlsiMEI5MEFGNEItQUZBNy00
	OUY5LUE0RTEtM0FCRDg1NTQzMDJBIl0sIk92ZXJyaWRlU2l6ZUZvck1lbnVCYXIiOmZh
	bHNlLCJDb250cm9sSWRlbnRpdHkiOiJZbkJzYVhOME1ERFVBUUlEQkFVR0J3cFlKSFps
	Y25OcGIyNVpKR0Z5WTJocGRtVnlWQ1IwYjNCWUpHOWlhbVZqZEhNU0FBR0dvRjhRRDA1
	VFMyVjVaV1JCY21Ob2FYWmxjdEVJQ1ZSeWIyOTBnQUdvQ3d3VkhSNGZKaWRWSkc1MWJH
	elVEUTRQRUJFU0V4UlphVzUwWlc1MFVtVm1WR3RwYm1SVlpYaDBTV1JXSkdOc1lYTnpn
	QUNBQm9BQ2dBZlVGaGNZRUJFYUd4eGZFQkJrWlhacFkyVkpaR1Z1ZEdsbWFXVnlYeEFa
	WTI5dWRHRnBibVZ5UW5WdVpHeGxTV1JsYm5ScFptbGxjbDhRR1dWNGRHVnVjMmx2YmtK
	MWJtUnNaVWxrWlc1MGFXWnBaWEtBQUlBRWdBT0FCVjhRR21OdmJTNWhjSEJzWlM1amIy
	NTBjbTlzY3k1a2FYTndiR0Y1WHhBWFkyOXRMbUZ3Y0d4bExtTnZiblJ5YjJ4alpXNTBa
	WExTSUNFaUkxb2tZMnhoYzNOdVlXMWxXQ1JqYkdGemMyVnpYeEFVUTBoVFJYaDBaVzV6
	YVc5dVNXUmxiblJwZEhtaUpDVmZFQlJEU0ZORmVIUmxibk5wYjI1SlpHVnVkR2wwZVZo
	T1UwOWlhbVZqZEY4UUpHTnZiUzVoY0hCc1pTNWpiMjUwY205c2N5NWthWE53YkdGNUxt
	UmhjbXN0Ylc5a1pkSWdJU2dwWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNW9pb2xY
	eEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1QUFnQUVRQWFBQ1FBS1FBeUFEY0FTUUJN
	QUZFQVV3QmNBR0lBYXdCMUFIb0FnQUNIQUlrQWl3Q05BSThBbUFDckFNY0E0d0RsQU9j
	QTZRRHJBUWdCSWdFbkFUSUJPd0ZTQVZVQmJBRjFBWndCb1FHMkFia0FBQUFBQUFBQ0FR
	QUFBQUFBQUFBckFBQUFBQUFBQUFBQUFBQUFBQUFCemc9PSIsIkNvbnRyb2xTaXplIjow
	LCJQcm9tcHRzRm9yVXNlckNvbmZpZ3VyYXRpb24iOmZhbHNlLCJDb250cm9sRGVzY3Jp
	cHRpb24iOiJUb2dnbGUgd2hldGhlciBEYXJrIE1vZGUgaXMgZW5hYmxlZCIsIkNvbnRy
	b2xUeXBlIjoxLCJEaXNwbGF5TmFtZSI6IkRhcmsgTW9kZSJ9LHsiSWRlbnRpZmllciI6
	WyIxNUI1RjkwMy05QzZBLTQ0M0ItQkREMy03MzU3NjA5Q0VCRTMiXSwiT3ZlcnJpZGVT
	aXplRm9yTWVudUJhciI6ZmFsc2UsIkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTURE
	VUFRSURCQVVHQndwWUpIWmxjbk5wYjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFt
	VmpkSE1TQUFHR29GOFFEMDVUUzJWNVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29D
	d3dWSFI0ZkppZFZKRzUxYkd6VURRNFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJW
	WlhoMFNXUldKR05zWVhOemdBQ0FCb0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJW
	SlpHVnVkR2xtYVdWeVh4QVpZMjl1ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNs
	OFFHV1Y0ZEdWdWMybHZia0oxYm1Sc1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFJ
	R052YlM1aGNIQnNaUzVYYVc1a2IzZE5ZVzVoWjJWeUxtTnZiblJ5YjJ4elh4QVhZMjl0
	TG1Gd2NHeGxMbGRwYm1SdmQwMWhibUZuWlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NS
	amJHRnpjMlZ6WHhBVVEwaFRSWGgwWlc1emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNG
	TkZlSFJsYm5OcGIyNUpaR1Z1ZEdsMGVWaE9VMDlpYW1WamRGOFFLV052YlM1aGNIQnNa
	UzUzYVc1a2IzZHRZVzVoWjJWeUxuUnBiR1ZEYjNKdVpYSnpRblYwZEc5dTBpQWhLQ2xm
	RUJKRFNGTkRiMjUwY205c1NXUmxiblJwZEhtaUtpVmZFQkpEU0ZORGIyNTBjbTlzU1dS
	bGJuUnBkSGtBQ0FBUkFCb0FKQUFwQURJQU53QkpBRXdBVVFCVEFGd0FZZ0JyQUhVQWVn
	Q0FBSWNBaVFDTEFJMEFqd0NZQUtzQXh3RGpBT1VBNXdEcEFPc0JEZ0VvQVMwQk9BRkJB
	VmdCV3dGeUFYc0Jwd0dzQWNFQnhBQUFBQUFBQUFJQkFBQUFBQUFBQUNzQUFBQUFBQUFB
	QUFBQUFBQUFBQUhaIiwiQ29udHJvbFNpemUiOjAsIlByb21wdHNGb3JVc2VyQ29uZmln
	dXJhdGlvbiI6ZmFsc2UsIkNvbnRyb2xEZXNjcmlwdGlvbiI6IlRpbGVzIHdpbmRvdyB0
	byBjb3JuZXJzLiIsIkNvbnRyb2xUeXBlIjoyLCJEaXNwbGF5TmFtZSI6IlRpbGUgV2lu
	ZG93cyB0byBDb3JuZXJzIn0seyJJZGVudGlmaWVyIjpbIjAyOTFGRUI2LTE4MTctNDVB
	My1COEU0LUREQjVCMjZCN0Y5QyJdLCJPdmVycmlkZVNpemVGb3JNZW51QmFyIjpmYWxz
	ZSwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBNRERVQVFJREJBVUdCd3BZSkhabGNu
	TnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlpYW1WamRITVNBQUdHb0Y4UUQwNVRT
	MlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FHb0N3d1ZIUjRmSmlkVkpHNTFiR3pV
	RFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJtUlZaWGgwU1dSV0pHTnNZWE56Z0FD
	QUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZMlZKWkdWdWRHbG1hV1Z5WHhBWlky
	OXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxsY2w4UUdXVjRkR1Z1YzJsdmJrSjFi
	bVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4UUlHTnZiUzVoY0hCc1pTNVhhVzVr
	YjNkTllXNWhaMlZ5TG1OdmJuUnliMnh6WHhBWFkyOXRMbUZ3Y0d4bExsZHBibVJ2ZDAx
	aGJtRm5aWExTSUNFaUkxb2tZMnhoYzNOdVlXMWxXQ1JqYkdGemMyVnpYeEFVUTBoVFJY
	aDBaVzV6YVc5dVNXUmxiblJwZEhtaUpDVmZFQlJEU0ZORmVIUmxibk5wYjI1SlpHVnVk
	R2wwZVZoT1UwOWlhbVZqZEY4UUtXTnZiUzVoY0hCc1pTNTNhVzVrYjNkdFlXNWhaMlZ5
	TG5ScGJHVlVhSEpsWlZWd1FuVjBkRzl1MGlBaEtDbGZFQkpEU0ZORGIyNTBjbTlzU1dS
	bGJuUnBkSG1pS2lWZkVCSkRTRk5EYjI1MGNtOXNTV1JsYm5ScGRIa0FDQUFSQUJvQUpB
	QXBBRElBTndCSkFFd0FVUUJUQUZ3QVlnQnJBSFVBZWdDQUFJY0FpUUNMQUkwQWp3Q1lB
	S3NBeHdEakFPVUE1d0RwQU9zQkRnRW9BUzBCT0FGQkFWZ0JXd0Z5QVhzQnB3R3NBY0VC
	eEFBQUFBQUFBQUlCQUFBQUFBQUFBQ3NBQUFBQUFBQUFBQUFBQUFBQUFBSFoiLCJDb250
	cm9sU2l6ZSI6MCwiUHJvbXB0c0ZvclVzZXJDb25maWd1cmF0aW9uIjpmYWxzZSwiQ29u
	dHJvbERlc2NyaXB0aW9uIjoiVGlsZXMgd2luZG93cyB0aGUgbGVmdCBhbmQgdG8gY29y
	bmVycy4iLCJDb250cm9sVHlwZSI6MiwiRGlzcGxheU5hbWUiOiJUaWxlIFdpbmRvd3Mg
	TGVmdCAmIENvcm5lcnMifV19
	</data>
	<key>HasAttemptedMenuBarWorkflowMigration</key>
	<true/>
	<key>LastHeartbeatDateString.daily</key>
	<string>2026-08-30T19:57:54Z</string>
	<key>LastPeriodicAnalyticsPostDate</key>
	<date>2026-08-30T11:10:13Z</date>
	<key>LiveActivityState</key>
	<data>
	eyJMYXN0Q2hhbmdlRGF0ZSI6ODAyNTk4MzgzLjg3MTI5MiwiRW5hYmxlZCI6ZmFsc2Us
	IkNvbXBhbmlvblBhaXJlZCI6ZmFsc2UsIlNldHRpbmdFdmVyRWRpdGVkIjp0cnVlLCJT
	ZXR0aW5nRW5hYmxlZCI6dHJ1ZX0=
	</data>
	<key>MenuBarCustomizationState</key>
	<data>
	eyJSZW1vdmVkQ29udHJvbCI6dHJ1ZSwiUmVtb3ZlZEJlbnRvQm94IjpmYWxzZSwiQWRk
	ZWRCZW50b0JveCI6dHJ1ZSwiQ3VzdG9taXplZENvbnRyb2wiOmZhbHNlLCJNb3ZlZENv
	bnRyb2xUb0JlbnRvQm94IjpmYWxzZSwiTGFzdENoYW5nZURhdGUiOjgwMzMzNDQ4MC44
	NTg0OTksIkFkZGVkQ29udHJvbCI6ZmFsc2V9
	</data>
	<key>RemoteLiveActivitiesEnabled</key>
	<true/>
	<key>missionControlTooltipCount</key>
	<integer>3</integer>
</dict>
</plist>
