<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>enterMissionControlByTopWindowDrag</key>
	<false/>
	<key>expose-group-apps</key>
	<true/>
	<key>largesize</key>
	<real>72.0</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>809810350.845982</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>785955030.369729</real>
	<key>loc</key>
	<string>en_US:IL</string>
	<key>magnification</key>
	<true/>
	<key>mineffect</key>
	<string>genie</string>
	<key>minimize-to-application</key>
	<false/>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>bottom</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>2921575073</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAAQ2xhdWRlLmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAz51zBwAAAAAIAAAABAMAANS6eQcA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcgC7/YA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHID1rJ
				gAAAJAAAAAEBAAA1OERFN0REMi02QUE0LTREQTUtQkVF
				My1CQUU0QUY1QkYyN0QYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.anthropic.claudefordesktop</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Claude.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Claude</string>
				<key>file-mod-date</key>
				<integer>3869857036</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>19064934838414</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>534040210</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAAY211eC5hcHAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAADPnXMHAAAAAAgAAAAEAwAA1iVzBwAAAAAI
				AAAAAQYAAEQAAABUAAAACAAAAAAEAABByBBBSSw80hgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcgPWsmAAAAk
				AAAAAQEAADU4REU3REQyLTZBQTQtNERBNS1CRUUzLUJB
				RTRBRjVCRjI3RBgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAAA0AAAAAAAAAAUQAABk
				AAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAAAAIg
				AAA0AQAAAAAAAAUgAACkAAAAAAAAABAgAAC0AAAAAAAA
				ABEgAADoAAAAAAAAABIgAADIAAAAAAAAABMgAADYAAAA
				AAAAACAgAAAUAQAAAAAAADAgAABAAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.cmuxterm.app</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/cmux.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>cmux</string>
				<key>file-mod-date</key>
				<integer>170913503014349</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>32718635723975</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>139736414</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwoAAAABAQAAQ3Vyc29yLmFwcAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAANxSABgAAAAAIAAAABAMAANluvAYA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAwcPAplgA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH9mT3
				gAAAJAAAAAEBAAA1OERFN0REMi02QUE0LTREQTUtQkVF
				My1CQUU0QUY1QkYyN0QYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.todesktop.230313mzl4w4u92</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Cursor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Cursor</string>
				<key>file-mod-date</key>
				<integer>2398366800</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>108645065645437</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1530101232</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEgB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwcAAAABAQAAWmVuLmFwcAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAADS9I4FAAAAAAgAAAAEAwAA9ikqBQAAAAAI
				AAAAAQYAAEQAAABUAAAACAAAAAAEAABBx9Z/4wAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAk
				AAAAAQEAADU4REU3REQyLTZBQTQtNERBNS1CRUUzLUJB
				RTRBRjVCRjI3RBgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAAA0AAAAAAAAAAUQAABk
				AAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAAAAIg
				AAA0AQAAAAAAAAUgAACkAAAAAAAAABAgAAC0AAAAAAAA
				ABEgAADoAAAAAAAAABIgAADIAAAAAAAAABMgAADYAAAA
				AAAAACAgAAAUAQAAAAAAADAgAABAAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>app.zen-browser.zen</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Zen.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Zen</string>
				<key>file-mod-date</key>
				<integer>275062159733891</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>129226545306487</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2885694194</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAV2hhdHNBcHAuYXBwCAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAz51zBwAAAAAIAAAABAMAAGPhjAcA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcgdvu8A
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHID1rJ
				gAAAJAAAAAEBAAA1OERFN0REMi02QUE0LTREQTUtQkVF
				My1CQUU0QUY1QkYyN0QYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>net.whatsapp.WhatsApp</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/WhatsApp.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>WhatsApp</string>
				<key>file-mod-date</key>
				<integer>147514522360775</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>122247229803059</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2921575046</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAU2xhY2suYXBwAAAACAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAANxSABgAAAAAIAAAABAMAAE30NgYA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcfs+5gA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH9mT3
				gAAAJAAAAAEBAAA1OERFN0REMi02QUE0LTREQTUtQkVF
				My1CQUU0QUY1QkYyN0QYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3864660419</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>23832345777530</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1184339231</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFQB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxEAAAABAQAAR29vZ2xlIENocm9tZS5hcHAAAAAIAAAA
				AQYAABAAAAAkAAAACAAAAAQDAADPnXMHAAAAAAgAAAAE
				AwAAErpzBwAAAAAIAAAAAQYAAFAAAABgAAAACAAAAAAE
				AABByBVoyoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAA
				BAAAQcgPWsmAAAAkAAAAAQEAADU4REU3REQyLTZBQTQt
				NERBNS1CRUUzLUJBRTRBRjVCRjI3RBgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABA
				AAAAAAAAAAUQAABwAAAAAAAAABAQAACQAAAAAAAAAEAQ
				AACAAAAAAAAAAAIgAABAAQAAAAAAAAUgAACwAAAAAAAA
				ABAgAADAAAAAAAAAABEgAAD0AAAAAAAAABIgAADUAAAA
				AAAAABMgAADkAAAAAAAAACAgAAAgAQAAAAAAADAgAABM
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>48846237495231</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>150748631871580</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>show-recents</key>
	<false/>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<integer>32</integer>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>4</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
	<key>wvous-tr-corner</key>
	<integer>1</integer>
	<key>wvous-tr-modifier</key>
	<integer>0</integer>
</dict>
</plist>
