<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appAppearance</key>
	<string>dark</string>
	<key>appUpdatesLastCheck</key>
	<real>1787646331.596548</real>
	<key>appUpdatesLastCount</key>
	<integer>0</integer>
	<key>appUpdatesNotifiedIDs</key>
	<array/>
	<key>batteryLimitPercent</key>
	<integer>10</integer>
	<key>brightnessControlEnabled</key>
	<true/>
	<key>brightnessKeysEnabled</key>
	<true/>
	<key>brightnessOSDEnabled</key>
	<false/>
	<key>clamshellPreferred</key>
	<false/>
	<key>clipboardAutoClearDelaySeconds</key>
	<integer>20</integer>
	<key>clipboardHistoryLimit</key>
	<integer>50</integer>
	<key>defaultDurationMinutes</key>
	<integer>480</integer>
	<key>dockPreviewEnabled</key>
	<false/>
	<key>extraBrightnessEnabled</key>
	<false/>
	<key>extraBrightnessLevel</key>
	<integer>100</integer>
	<key>fanControlHelperVersion</key>
	<string>eb4948b86b01fa0098961433b51ddd8f1a8b67788e2c04f2eea7959ed39bcb1a</string>
	<key>featureAvailable.appUpdates</key>
	<true/>
	<key>featureAvailable.autoQuit</key>
	<true/>
	<key>featureAvailable.brightness</key>
	<true/>
	<key>featureAvailable.cameraPreview</key>
	<false/>
	<key>featureAvailable.cleaner</key>
	<true/>
	<key>featureAvailable.cleaningMode</key>
	<true/>
	<key>featureAvailable.clipboardHistory</key>
	<true/>
	<key>featureAvailable.colorPicker</key>
	<false/>
	<key>featureAvailable.commandBar</key>
	<false/>
	<key>featureAvailable.diskImageInstaller</key>
	<false/>
	<key>featureAvailable.dockClick</key>
	<true/>
	<key>featureAvailable.dockPreview</key>
	<true/>
	<key>featureAvailable.extraBrightness</key>
	<true/>
	<key>featureAvailable.fanControl</key>
	<true/>
	<key>featureAvailable.finderCutPaste</key>
	<true/>
	<key>featureAvailable.finderRename</key>
	<false/>
	<key>featureAvailable.focusFollowsMouse</key>
	<false/>
	<key>featureAvailable.homebrew</key>
	<true/>
	<key>featureAvailable.keepAwake</key>
	<true/>
	<key>featureAvailable.keyboardDebounce</key>
	<false/>
	<key>featureAvailable.mediaTools</key>
	<false/>
	<key>featureAvailable.micMute</key>
	<false/>
	<key>featureAvailable.middleClick</key>
	<true/>
	<key>featureAvailable.mixer</key>
	<true/>
	<key>featureAvailable.monitorCPU</key>
	<true/>
	<key>featureAvailable.monitorDisk</key>
	<true/>
	<key>featureAvailable.monitorGPU</key>
	<true/>
	<key>featureAvailable.monitorMemory</key>
	<true/>
	<key>featureAvailable.monitorNetwork</key>
	<true/>
	<key>featureAvailable.monitorPower</key>
	<true/>
	<key>featureAvailable.mouseButtonShortcuts</key>
	<false/>
	<key>featureAvailable.mouseNavigation</key>
	<false/>
	<key>featureAvailable.musicBlock</key>
	<true/>
	<key>featureAvailable.pastePlain</key>
	<true/>
	<key>featureAvailable.quickLauncher</key>
	<false/>
	<key>featureAvailable.quickToggles</key>
	<false/>
	<key>featureAvailable.radialMenu</key>
	<false/>
	<key>featureAvailable.scratchpad</key>
	<false/>
	<key>featureAvailable.screenOCR</key>
	<true/>
	<key>featureAvailable.screenRecorder</key>
	<false/>
	<key>featureAvailable.screenshot</key>
	<false/>
	<key>featureAvailable.scrollInverter</key>
	<false/>
	<key>featureAvailable.shelf</key>
	<true/>
	<key>featureAvailable.smoothScroll</key>
	<false/>
	<key>featureAvailable.soundOutputSwitcher</key>
	<false/>
	<key>featureAvailable.superKey</key>
	<true/>
	<key>featureAvailable.switcher</key>
	<true/>
	<key>featureAvailable.textSnippets</key>
	<false/>
	<key>featureAvailable.uninstaller</key>
	<true/>
	<key>featureAvailable.urlCleaner</key>
	<false/>
	<key>featureAvailable.windowLayout</key>
	<true/>
	<key>featureAvailable.windowMaximizer</key>
	<true/>
	<key>featuresOnboardingVersion</key>
	<integer>4</integer>
	<key>finderCutPasteEnabled</key>
	<true/>
	<key>hasOnboarded</key>
	<true/>
	<key>keepAwakeActiveIcon</key>
	<string>coffee</string>
	<key>keepAwakeConnectedToPower</key>
	<true/>
	<key>keepAwakeExternalDisplay</key>
	<false/>
	<key>keepAwakeIconTint</key>
	<string>none</string>
	<key>keepAwakeMouseJiggleEnabled</key>
	<true/>
	<key>keepAwakeMouseJiggleIntervalMinutes</key>
	<integer>2</integer>
	<key>lastUpdateIntroVersion</key>
	<string>3.3.2</string>
	<key>launchAtLoginWanted</key>
	<true/>
	<key>menuBarHideIconWithMetrics</key>
	<false/>
	<key>menuBarMetricAppearance</key>
	<string>values</string>
	<key>middleClickEnabled</key>
	<true/>
	<key>middleClickTapFingers</key>
	<integer>0</integer>
	<key>monitorAlertBatteryPercent</key>
	<integer>15</integer>
	<key>monitorAlertCPUTemperatureThreshold</key>
	<integer>90</integer>
	<key>monitorAlertCPUThreshold</key>
	<integer>90</integer>
	<key>monitorAlertCooldownMinutes</key>
	<integer>15</integer>
	<key>monitorAlertDiskFreePercent</key>
	<integer>10</integer>
	<key>monitorIntervalSeconds</key>
	<integer>2</integer>
	<key>monitorMemoryMetric</key>
	<string>used</string>
	<key>monitorShowDisk</key>
	<false/>
	<key>monitorShowNetwork</key>
	<false/>
	<key>monitorShowPower</key>
	<false/>
	<key>onboardingStep</key>
	<integer>0</integer>
	<key>panelCollapsedResetVersion</key>
	<string>2.15.1</string>
	<key>panelControlFilesExpanded</key>
	<true/>
	<key>panelControlInputExpanded</key>
	<true/>
	<key>panelControlWindowsExpanded</key>
	<true/>
	<key>panelSectionOrder</key>
	<string>keepAwake,fanControl,brightness,mixer,system,network,disk,power,utilities,controls,toggles</string>
	<key>scrollInverterHorizontalEnabled</key>
	<false/>
	<key>settingsWindowHeight</key>
	<real>563.0</real>
	<key>settingsWindowWidth</key>
	<real>1040.0</real>
	<key>shelfEnabled</key>
	<false/>
	<key>shelfItems</key>
	<data>
	W10=
	</data>
	<key>statusItemPlacementGeneration</key>
	<integer>3</integer>
	<key>superKeyEnabled</key>
	<false/>
	<key>superKeyMappingApplied</key>
	<false/>
	<key>superKeySoloAction</key>
	<string>capsLock</string>
	<key>supportUpdateIntroVersion</key>
	<string>3.3.2</string>
	<key>switcherAppRules</key>
	<dict/>
	<key>switcherEnabled</key>
	<false/>
	<key>switcherMergeTabs</key>
	<false/>
	<key>switcherSearchPinEnabled</key>
	<true/>
	<key>switcherSimpleMode</key>
	<true/>
	<key>unifiedScreenCaptureShortcutMigrated</key>
	<true/>
	<key>updateHighlightsSeenVersion</key>
	<string>3.3.2</string>
	<key>vorssDisabledSleep</key>
	<false/>
	<key>whatsAppDownloadsAccessConfirmed</key>
	<true/>
	<key>whatsAppDownloadsRetentionDays</key>
	<integer>7</integer>
	<key>whatsAppOrganizerDelayMinutes</key>
	<integer>5</integer>
	<key>windowMaximizeEnabled</key>
	<true/>
</dict>
</plist>
