<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_delete</key>
	<string>{"carbonModifiers":2048,"carbonKeyCode":51}</string>
	<key>KeyboardShortcuts_pin</key>
	<string>{"carbonModifiers":2048,"carbonKeyCode":35}</string>
	<key>KeyboardShortcuts_popup</key>
	<string>{"carbonKeyCode":9,"carbonModifiers":2048}</string>
	<key>KeyboardShortcuts_togglePreview</key>
	<string>{"carbonModifiers":4096,"carbonKeyCode":49}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va7QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAJQBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAADQAAAAEB
	AABuZXJpYXR6aWRrYW5pAAAACQAAAAEBAABEb2N1bWVudHMAAAAMAAAAAQYAABAAAAAg
	AAAAOAAAAAgAAAAEAwAAZEIAAAAAAAAIAAAABAMAAMQkBAAAAAAACAAAAAQDAAD1JAQA
	AAAAAAwAAAABBgAAYAAAAHAAAACAAAAACAAAAAAEAABBxoIlnWAJJhgAAAABAgAAAgAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMD
	AAD2AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
	UKEbcwAAAAgAAAAABAAAQcf2ZPeAAAAkAAAAAQEAADU4REU3REQyLTZBQTQtNERBNS1C
	RUUzLUJBRTRBRjVCRjI3RBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
	AAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAATAAAAAAAAAAFEAAAkAAAAAAA
	AAAQEAAAtAAAAAAAAABAEAAApAAAAAAAAAACIAAAiAEAAAAAAAAFIAAA+AAAAAAAAAAQ
	IAAACAEAAAAAAAARIAAAPAEAAAAAAAASIAAAHAEAAAAAAAATIAAALAEAAAAAAAAgIAAA
	aAEAAAAAAAAwIAAA1AAAAAAAAAABwAAA3AAAAAAAAAARwAAAIAAAAAAAAAASwAAA7AAA
	AAAAAAAB0AAA1AAAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>1708266617</integer>
	<key>clearOnQuit</key>
	<false/>
	<key>enabledPasteboardTypes</key>
	<array>
		<string>public.rtf</string>
		<string>public.tiff</string>
		<string>public.heic</string>
		<string>public.file-url</string>
		<string>public.utf8-plain-text</string>
		<string>public.html</string>
		<string>public.png</string>
		<string>public.jpeg</string>
	</array>
	<key>historySize</key>
	<integer>200</integer>
	<key>migrations</key>
	<dict>
		<key>2024-07-01-version-2</key>
		<true/>
		<key>2025-07-04-add-jpeg-heic</key>
		<true/>
	</dict>
	<key>pasteByDefault</key>
	<true/>
	<key>pinTo</key>
	<string>top</string>
	<key>popupPosition</key>
	<string>lastPosition</string>
	<key>previewWidth</key>
	<real>400.0</real>
	<key>removeFormattingByDefault</key>
	<true/>
	<key>searchMode</key>
	<string>fuzzy</string>
	<key>showApplicationIcons</key>
	<false/>
	<key>showFooter</key>
	<true/>
	<key>showInStatusBar</key>
	<true/>
	<key>showRecentCopyInMenuBar</key>
	<false/>
	<key>showSearch</key>
	<true/>
	<key>showTitle</key>
	<true/>
	<key>windowPosition</key>
	<string>[0.8525132275132276,1.0021097046413503]</string>
	<key>windowSize</key>
	<string>[450,800]</string>
</dict>
</plist>
