[user]
	name = {{ .name }}
	email = {{ .email }}
[push]
	autoSetupRemote = true
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
{{ $gh := "gh" }}{{ if eq .chezmoi.os "darwin" }}{{ $gh = "/opt/homebrew/bin/gh" }}{{ end -}}
[credential "https://github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
